<!DOCTYPE html>
<html>
<head>
    <link type="text/css" href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" />
    {% block title -%}
        <meta charset="UTF-8" />
        {% if title %}
            <title>KADRY - {{ title }}</title>
        {% else %}
            <title>KADRY</title>
        {% endif %}
    {% endblock %}
</head>
<body>
    {% block content -%}
        {%- block mainmenu -%}
            <ul class="mainmenu">
                {% for m in menu -%}
                    <li><a href="{{url_for(m.fun)}}">{{m.title}}</a></li>
                {% endfor -%}
            </ul>
        {% endblock mainmenu -%}
        <div class="clear"></div>
        <div class="content">
        {% if title -%}
            <h1>KADRY - {{ title }}</h1>
        {% else -%}
            <h1>KADRY</h1>
        {% endif -%}
    {% endblock -%}
    </div>
</body>
</html>